.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.header__content {
  display: flex;
  padding: 23px;
  width: 100%;
  align-items: center;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  background: var(--color-white);
}

.header__form {
  display: flex;
}

.header__logo-link {
  margin-right: 53px;
}

.header__form-input {
  width: 581px;
  height: 44px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 19px;
  border: 1px solid rgb(51, 51, 51, 0.2);
}

.header__form-input::placeholder {
  position: relative;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-silver-text);
  /* color: var(--color-silver); */
}
